<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<h2>JavaScript Select onchange Event</h2>-->

<!--<form>-->
<!--  <p>Select a new car from the list.</p>-->

<!--  <select id="mySelect">-->
<!--    <option value="">Select</option>-->
<!--    <option value="BMW">BMW</option>-->
<!--    <option value="Mercedes">Mercedes</option>-->
<!--    <option value="Volvo">Volvo</option>-->
<!--  </select>-->

<!--  <br><br>-->

<!--  <input type="button" value="Submit" onclick="myFunction()">-->

<!--  <p id="demo"></p>-->
<!--</form>-->

<!--<script>-->
<!--function myFunction() {-->
<!--  var x = document.getElementById("mySelect").value;-->
<!--  document.getElementById("demo").innerHTML = "You selected: " + x;-->
<!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->