<style>
.my_footer {
    background-color:grey;
    position: relative;
    height:60px;
    bottom:0;
    width:100%;
<!--    opacity:0.6;-->
}
</style>

<div class="footer  my_footer">
    <div class="text-center" style="padding-top:18px;"><b>&copy; AMJ tech pvt ltd. All rights Reserved</b></div>
</div>





<!--<style>-->
<!--.footer {-->
<!--  position: fixed;-->
<!--  bottom:0;-->
<!--  width:100%;-->
<!--  height:58px;-->
<!--  opacity:0.6;-->
<!--  }-->
<!--</style>-->

<!--<div class="push"></div>-->
<!--<div class="bg-light text-lg-start footer">-->

<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="text-center p-3 wrapper" style="background-color: rgba(0, 0, 0, 0.5);">-->
<!--      © 2023 Copyright: AMJ pvt ltd.-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</div>-->


